<div id="dashboard-container" class="container">
  <mat-card class="dashboard-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="mat-card-title">Products</mat-card-title>
    </mat-card-header>
    <img mat-card-image id="card-image-product" class="card-image" />
    <mat-card-content>
      <p>Manage products</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="mat-card-title">Assembly lines</mat-card-title>
    </mat-card-header>
    <img mat-card-image id="card-image-assembly-line" class="card-image" />
    <mat-card-content>
      <p>Manage assembly lines</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="mat-card-title">Workstation</mat-card-title>
    </mat-card-header>
    <img mat-card-image id="card-image-workstation" class="card-image" />
    <mat-card-content>
      <p>Manage workstations</p>
    </mat-card-content>
  </mat-card>
</div>
